Name	FileType	Size	NumBits	ModeCode	Program	Address	HexSize
base_ram.txt	TXT	96	16	BASE	TRUE	0	96
cpu1_com.asm	ASM	512	14	CPU1	FALSE	512	512
cpu1_ram.txt	TXT	512	14	CPU1	FALSE	512	512
cpu1_data.hex	HEX	512	14	CPU1	TRUE	512	512
cpu2_com.asm	ASM	512	14	CPU2	FALSE	1024	512
cpu2_ram.txt	TXT	512	14	CPU2	FALSE	1024	512
cpu2_data.hex	HEX	512	14	CPU2	TRUE	1024	512
rom_BOTP.hex	HEX	512	16	ROM	TRUE	1536	512
